:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background: #1C6EA4;
  background: linear-gradient(60deg, #1C6EA4 0%, #CB26A9 51%, #144E75 100%);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body {
  height: 100%;
  margin: 0;
  overflow: hidden
}
h1 {
  text-align: center;
}

a {
  font-weight: 500;
  color: #95ff64;
  text-decoration: inherit;
}
a:hover {
  color: #f253a2;
}

button {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.3em;
  font-weight: 550;
  font-family: inherit;
  background-color: #89e995;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #0b16da;
}
button:focus,
button:focus-visible {
  outline: 8px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
